streamlit==1.38.0
python-dotenv==1.0.1
langchain-openai           # OpenAI entegrasyonları için bu gerekli.
langchain-community        # langchain_community modülleri için bu gerekli.
langchain>=0.1.0           # Langchain'in ana paketi, güncel bir sürüm olsun.
faiss-cpu==1.11.0
PyPDF2==3.0.1
sentence-transformers
openai
